@import "compass/css3";

/*$head-font: ~"'OFL Sorts Mill Goudy', 'OFL Sorts Mill Goudy TT', sans-serif";*/
/*$head-font: "Latine", sans-serif;*/
$head-font: "Droid Serif", Palatino, "Palatino Linotype", sans-serif;

//White Theme
$tint: #E11d30; //#252fd7; //#e50053;
$text: #222;
$bg: #e7e8e8 url(/images/noise.jpg);

//Black Theme
// $tint: #E11D30;
// $text: #eee;
// $bg: #343535;

html {
  overflow-y: scroll;
}

body {
  color: $text;
  position: relative;
  background: $bg;
  font: normal 18px/25px Palatino, "Palatino Linotype", serif;
  line-height:25px;
}

p,h1,h2,h3,h4,h5,h6 {
  margin: 0; padding: 0;
}

.clear {
  clear:both;
}

body a, body a:visited {
  text-decoration: none;
  color: $tint;
}

body a:hover {
  text-decoration: underline;
}

body p {
  margin-bottom: 1em;
}

/* =====  Heading Styles  ===== */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $head-font;
  font-weight: normal;
}

h1 {
  font-size: 45px;
  line-height: 50px;
  margin: 25px 0;
}
h2 {
  font-size: 32px;
  line-height: 50px;
  margin: 25px 0;
}
h3 {
  font-size: 23px;
  line-height: 25px;
  margin: 25px 0;
}
h4 {
  font-size: 18px;
  line-height: 25px;
  margin: 25px 0;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a{
  color: $text;
}
h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover
{
  color: $tint;
  text-decoration: none;
}
h1 .amp,
h2 .amp,
h3 .amp,
h4 .amp,
h5 .amp,
h6 .amp {
  font-style: italic;
}

.wrap {
  width: 900px;
  margin: 0 auto;
  position:relative;
}

.wrap .content {
  width: 680px;
  margin-left: 220px;
  border-left: 2px solid whiteSmoke;
  padding-left: 20px;
}

.wrap .side {
  width:200px;
  position: fixed;
  text-align: right;
}

.wrap .side header {
  font-family: $head-font;
  font-size: 23px;
  line-height: 50px;
  text-transform: lowercase;
  padding-left: 2px;
}

.wrap .side header .amp {
  font-style: italic;
}
.wrap .side header a {
  font-size:30px;
  text-transform: capitalize;
  color: $text;
  @include transition-property(color);
  @include transition-duration(0.5s);
  @include transition-timing-function(ease-out);
}

.wrap .side header a:hover {
  color: $tint;
}

.wrap .side nav {
  font: normal 18px/50px $head-font;
  text-align: right;
  text-transform: lowercase;
  padding-right: 2px;
  line-height:30px;
  a {
    text-transform: capitalize;
  }
}

.wrap .side nav .sep {
  padding: 0 4px;
  color: #666;
}

.wrap footer {
  font-size: 14px;
  font-style: italic;
  line-height: 35px;
  text-align: center;
  .copyright {
    position:absolute;
    right:0;
    color:#aaa;
  }
}

blockquote {
  font-size: 22px;
  line-height: 26px;
  font-style: italic;
  margin: 1em 2em;
}

blockquote p {
  quotes: "\201c" "\201d";
}

blockquote p:first-of-type {
  text-indent: 0;
}
blockquote p::before {
  content: open-quote;
}
blockquote p::after {
  content: no-close-quote;
}
blockquote p:last-of-type::after {
  content: close-quote;
}

blockquote p:last-child {
  margin-bottom: 0;
}

#post-stats p {
  color: #666;
  margin-top: -22px;
  margin-bottom: 22px;
}

body embed {
  @include box-shadow(#777 1px 2px 7px);
  margin: 30px auto;
  display: block;
}

body img{
  @include box-shadow(#777 1px 2px 7px);
}

body img.left, body img.right {
  border: none;
  background: none;
  padding: none;
}

body img.left {
  float: left;
  margin: 0 15px 15px 0;
}
body img.right {
  float: right;
  margin: 0 0 15px 15px;
}

#post-content .gallery img {
  background: none;
  padding: 0;
  border: none;
  display: inline;
  margin-bottom: 25px;
  margin-right: 25px;
}

#post-content #markdown-toc {
  list-style:none;
  ul {
    list-style: none;
  }
}
#post-content #markdown-toc ul:first-child > li {
  margin-left: 0em;
}

#post-content.with-diagrams img {
  display: block;
  margin: 25px auto;
  padding: 0;
  background: none;
  border: none;
}

#related {
  margin:1em 0 2em 0;
  li {
    color: #666;
  }
}
.print-links {
  display: none;
}

img.self {
  border: none;
  padding: 0;
  margin: 0;
  margin-right: -108px;
  margin-top: -15px;
  margin-left: 30px;
  margin-bottom: 20px;
}

#scrolling-header {
  color: #999;
  font-size: 23px;
  font-style: italic;
  font: italic 23px $head-font;
  line-height: 30px;
  position: fixed;
  top: 75px;
  text-align: right;
  width: 180px;
}


// 3rd Party Stylesheets Rewriting
.addthis_toolbox {
  line-height:40px;
}

.addthis_default_style > div > a {
  float:right !important;
}

.fb_iframe_widget iframe {
  width:46px !important;
}
