#hl{}#hl .grid{}
#hl .typo{}
#hl .img{}
#hl .ui{}#hl .ui .themes{}
#hl .ui .list{}
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section{display:block;}
audio,canvas,video{display:inline-block;*display:inline;*zoom:1;}
audio:not([controls]){display:none;}
[hidden]{display:none;}
html{font-size:100%;overflow-y:scroll;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}
body{margin:0;}
body,button,input,select,textarea{font-family:sans-serif;}
a{color:#00e;}
a:visited{color:#551a8b;}
a:focus{outline:thin dotted;}
a:hover,a:active{outline:0;}
abbr[title]{border-bottom:1px dotted;}
b,strong{font-weight:bold;}
blockquote{margin:1em 40px;}
dfn{font-style:italic;}
mark{background:#ff0;color:#000;}
pre,code,kbd,samp{font-family:monospace, serif;_font-family:'courier new',monospace;font-size:1em;}
pre{white-space:pre;white-space:pre-wrap;word-wrap:break-word;}
q{quotes:none;}
q:before,q:after{content:'';content:none;}
small{font-size:85%;}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}
sup{top:-0.5em;}
sub{bottom:-0.25em;}
ul,ol{margin:1em 0;padding:0 0 0 40px;}
dd{margin:0 0 0 40px;}
nav ul,nav ol{list-style:none;list-style-image:none;}
img{border:0;-ms-interpolation-mode:bicubic;}
svg:not(:root){overflow:hidden;}
figure{margin:0;}
form{margin:0;}
fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:0.35em 0.625em 0.75em;}
legend{border:0;*margin-left:-7px;}
button,input,select,textarea{font-size:100%;margin:0;vertical-align:baseline;*vertical-align:middle;}
button,input{line-height:normal;}
button,input[type="button"],input[type="reset"],input[type="submit"]{cursor:pointer;-webkit-appearance:button;*overflow:visible;}
input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0;}
input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}
input[type="search"]::-webkit-search-decoration{-webkit-appearance:none;}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}
textarea{overflow:auto;vertical-align:top;}
table{border-collapse:collapse;border-spacing:0;}
.highlight{background:#ffffff;}
.highlight .c{color:#999988;font-style:italic;}
.highlight .err{color:#a61717;background-color:#e3d2d2;}
.highlight .k{color:#000000;font-weight:bold;}
.highlight .o{color:#000000;font-weight:bold;}
.highlight .cm{color:#999988;font-style:italic;}
.highlight .cp{color:#999999;font-weight:bold;}
.highlight .c1{color:#999988;font-style:italic;}
.highlight .cs{color:#999999;font-weight:bold;font-style:italic;}
.highlight .gd{color:#000000;background-color:#ffdddd;}
.highlight .gd .x{color:#000000;background-color:#ffaaaa;}
.highlight .ge{color:#000000;font-style:italic;}
.highlight .gr{color:#aa0000;}
.highlight .gh{color:#999999;}
.highlight .gi{color:#000000;background-color:#ddffdd;}
.highlight .gi .x{color:#000000;background-color:#aaffaa;}
.highlight .go{color:#888888;}
.highlight .gp{color:#555555;}
.highlight .gs{font-weight:bold;}
.highlight .gu{color:#aaaaaa;}
.highlight .gt{color:#aa0000;}
.highlight .kc{color:#000000;font-weight:bold;}
.highlight .kd{color:#000000;font-weight:bold;}
.highlight .kp{color:#000000;font-weight:bold;}
.highlight .kr{color:#000000;font-weight:bold;}
.highlight .kt{color:#445588;font-weight:bold;}
.highlight .m{color:#009999;}
.highlight .s{color:#dd1144;}
.highlight .na{color:#008080;}
.highlight .nb{color:#0086b3;}
.highlight .nc{color:#445588;font-weight:bold;}
.highlight .no{color:#008080;}
.highlight .ni{color:#800080;}
.highlight .ne{color:#990000;font-weight:bold;}
.highlight .nf{color:#990000;font-weight:bold;}
.highlight .nn{color:#555555;}
.highlight .nt{color:#000080;}
.highlight .nv{color:#008080;}
.highlight .ow{color:#000000;font-weight:bold;}
.highlight .w{color:#bbbbbb;}
.highlight .mf{color:#009999;}
.highlight .mh{color:#009999;}
.highlight .mi{color:#009999;}
.highlight .mo{color:#009999;}
.highlight .sb{color:#dd1144;}
.highlight .sc{color:#dd1144;}
.highlight .sd{color:#dd1144;}
.highlight .s2{color:#dd1144;}
.highlight .se{color:#dd1144;}
.highlight .sh{color:#dd1144;}
.highlight .si{color:#dd1144;}
.highlight .sx{color:#dd1144;}
.highlight .sr{color:#009926;}
.highlight .s1{color:#dd1144;}
.highlight .ss{color:#990073;}
.highlight .bp{color:#999999;}
.highlight .vc{color:#008080;}
.highlight .vg{color:#008080;}
.highlight .vi{color:#008080;}
.highlight .il{color:#009999;}
@font-face{font-family:'OFL Sorts Mill Goudy TT';font-style:normal;font-weight:normal;src:local('OFL Sorts Mill Goudy TT'),local('OFLGoudyStMTT'),url('http://themes.googleusercontent.com/static/fonts/oflsortsmillgoudytt/v3/9ZZVVBRCceNnPBXqWLH8IAznsJgBJReFlc4fyGg_5CcC1LhKU8qFLLahJuQDJSaO.woff') format('woff');}@font-face{font-family:'OFL Sorts Mill Goudy TT';font-style:italic;font-weight:normal;src:local('OFL Sorts Mill Goudy TT Italic'),local('OFLGoudyStMTT-Italic'),url('http://themes.googleusercontent.com/static/fonts/oflsortsmillgoudytt/v3/4zlbkWdiblhTyAxV3yYOK1Map0k-03pf3IKr-TpLv1-zty3XAGWFpfUour78S_ql.woff') format('woff');}@font-face{font-family:"Latine";src:url("font/Latine.eot?") format("eot"),url("font/Latine.woff") format("woff"),url("font/Latine.ttf") format("truetype"),url("font/Latine.svg#Latine") format("svg");font-weight:normal;font-style:normal;}@font-face{font-family:"Droid Serif";src:url("font/DroidSerif-Regular.eot?") format("eot"),url("font/DroidSerif-Regular.woff") format("woff"),url("font/DroidSerif-Regular.ttf") format("truetype"),url("font/DroidSerif-Regular.svg#DroidSerif") format("svg");font-weight:normal;font-style:normal;}body{color:#222222;position:relative;background:#e7e8e8 url(noise.jpg);font:normal 18px/25px Palatino,"Palatino Linotype",serif;line-height:25px;}
p,h1,h2,h3,h4,h5,h6{margin:0;padding:0;}
.clear{clear:both;}
body a,body a:visited{text-decoration:none;color:#e11d30;}
body a:hover{text-decoration:underline;}
body p{margin-bottom:1em;}
h1,h2,h3,h4,h5,h6{font-family:"Droid Serif",sans-serif;font-weight:normal;}
h1{font-size:45px;line-height:50px;margin:25px 0;}
h2{font-size:32px;line-height:50px;margin:25px 0;}
h3{font-size:23px;line-height:25px;margin:25px 0;}
h4{font-size:18px;line-height:25px;margin:25px 0;}
h1 a,h2 a,h3 a,h4 a,h5 a,h6 a,#recent-list a{color:#222222;}
h1 a:hover,h2 a:hover,h3 a:hover,h4 a:hover,h5 a:hover,h6 a:hover,#recent-list a:hover{color:#e11d30;text-decoration:none;}
h1 .amp,h2 .amp,h3 .amp,h4 .amp,h5 .amp,h6 .amp{font-style:italic;}
body code,body pre{font-family:Consolas,Menlo,"Courier New",monospace;font-size:14px;}
.highlight pre{font-family:Consolas,Menlo,"Courier New",monospace;font-size:16px;line-height:25px;overflow-x:auto;border:1px solid #d5d5d5;border-left:10px solid #d5d5d5;background-color:#fafafa;padding:11px 15px 12px;margin-left:-25px;}
.highlight pre::-webkit-scrollbar{height:25px;}
.highlight pre::-webkit-scrollbar-button:start,.highlight pre::-webkit-scrollbar-button:end{display:none;}
.highlight pre::-webkit-scrollbar-track-piece{background-color:#eee;}
.highlight pre::-webkit-scrollbar-thumb{background-color:#bbb;border:7px solid #eee;-webkit-background-clip:padding-box;-webkit-border-radius:12px;}
body p code,body li code{border:1px solid #ccc;background-color:#fafafa;font-size:13px;padding:1px 3px;line-height:20px;margin:0;white-space:nowrap;}
.wrap{width:900px;margin:0 auto;position:relative;}
.wrap .content{width:680px;margin-left:220px;border-left:2px solid whiteSmoke;padding-left:20px;}
.wrap .side{width:200px;position:fixed;text-align:right;}
.wrap .side header{font-family:"Droid Serif",sans-serif;font-size:23px;line-height:50px;text-transform:lowercase;padding-left:2px;}
.wrap .side header .amp{font-style:italic;}
.wrap .side header a{font-size:30px;text-transform:capitalize;color:#222222;-webkit-transition:color 0.5s ease-out 0s;-moz-transition:color 0.5s ease-out 0s;-o-transition:color 0.5s ease-out 0s;transition:color 0.5s ease-out 0s;}
.wrap .side header a:hover{color:#e11d30;}
.wrap .side nav{font:normal 18px/50px "Droid Serif",sans-serif;text-align:right;text-transform:lowercase;padding-right:2px;}
.wrap .side nav .sep{padding:0 4px;color:#666;}
.wrap footer{font-size:14px;font-style:italic;line-height:35px;text-align:center;}.wrap footer .copyright{position:absolute;right:0;color:#aaa;}
blockquote{border:1px solid #ccc;background-color:#fafafa;padding:11px 15px 12px;margin-left:2em;overflow:auto;}
blockquote p:last-child{margin-bottom:0;}
#post-stats p{color:#666;margin-top:-22px;margin-bottom:22px;}
#post-content img{-webkit-box-shadow:1px 2px 7px #777777;-moz-box-shadow:1px 2px 7px #777777;box-shadow:1px 2px 7px #777777;-ms-filter:progid:DXImageTransform.Microsoft.Shadow(color=#777777,direction=125,strength=2);filter:progid:DXImageTransform.Microsoft.Shadow(color=#777777,direction=125,strength=2);float:right;margin:0 0 15px 15px;}
#post-content img.left,#post-content img.right{border:none;background:none;padding:none;}
#post-content img.left{float:left;margin:0 15px 15px 0;}
#post-content img.right{margin:0 0 15px 15px;}
#post-content .gallery img{background:none;padding:0;border:none;display:inline;margin-bottom:25px;margin-right:25px;}
#post-content .toc ul{list-style:none;}
#post-content .toc ul:first-child>li{margin-left:0em;}
#post-content.with-diagrams img{display:block;margin:25px auto;padding:0;background:none;border:none;}
.print-links{display:none;}
img.self{border:none;padding:0;margin:0;margin-right:-108px;margin-top:-15px;margin-left:30px;margin-bottom:20px;}
#scrolling-header{color:#999;font-size:23px;font-style:italic;font:italic 23px "Droid Serif",sans-serif;line-height:30px;position:fixed;top:75px;text-align:right;width:180px;}
