<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <title>Steven's Annual Review</title>
  <link rel="stylesheet" href="/assets/normalize.css">
  <link rel="stylesheet" href="/assets/style.css">
  <link rel="stylesheet" href="/assets/pygments.css">
  <!-- // <script type="text/javascript" src="/assets/jquery.js"></script> -->
</head>

<body>
  <div class="wrap">
    <div class="top group">
      <header>
        <a href="/">Steven Yang</a>
      </header>
      <nav></nav>
    </div>
    <div class="hr"></div>
    <div class="content">
      {{ content }}
    </div>
    <div class="hrb"></div>
  </div>
</body>
<!-- Google Analytics Improved Version -->
<script>var _gaq=[['_setAccount','UA-27986795-1'],['_trackPageview']];(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.src='//www.google-analytics.com/ga.js';s.parentNode.insertBefore(g,s)}(document,'script'))
</script>
</html>
